SERVER_PORT=8080
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=cashvio
DB_SSLMODE=disable

JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=24

GOAPI_API_KEY=your-goapi-api-key-here

LOGAM_MULIA_API_URL=https://logam-mulia-api.iamutaki.worokhey kers.dev/api/prices
